body {
    margin: 0px;
}

#canvas-1 {
    margin: 0px;
    padding: 0px;
    background: #b6eca2;
}

#score_text {
    position:absolute;
    top:0px;
}

#health_text {
    position:absolute;
    top:0px;
    right:0px;
}


/* ---------Index page styling------------- */
html{
    background-color:rgb(229, 221, 221);
}

body#homepage{
    background-color: #b6eca2;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    width: 100%;
    position: relative;
}

#game-name{
    align-self: center;
    font-size: 30px;
    text-decoration: underline;
}

#picnic-div{
    width: 30%;
    display: flex;
    align-self: center;
    padding: 10px;
}

#picnic-img{
    width: 100%;
}

.button-container{
    display: flex;  
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    max-width: 100%;
}

button{
    margin: 10px;
    padding: 15px;
    background-color: #F6FF6B;
    border-radius: 10%;
    border: 1px solid black;
    font-weight: bold;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}

button:hover{
    transform:scale(140%);
}

.footer{
    display: block;
    background: url('../images/plaid.jpg');
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    height: 70px;
    margin-top: 30px;
}

.pause_button {
    position:absolute;
    top:100px;
    right:50px;
}