body {
    color: white;
    margin: 0px;
}

#canvas-1 {
    margin: 0px;
    padding: 0px;
    /* background: #b6eca2; */
    background-image: url('./images/grass_128x128.png');
    background-repeat: repeat;
    cursor: url('./images/swatter_32x32.png'), crosshair;
}

/* gameplay stats, graphics */
#score_text {
    position:absolute;
    top:4px;
    border: 4px solid;
    border-color: #8B74BD;
    border-radius: 5px;
    padding: 6px;
    background-color: #383278;
    font-weight: bold;
    margin: 4px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

#health_text {
    position:absolute;
    top:4px;
    right:4px;
    border: 4px solid;
    border-color: #8B74BD;
    border-radius: 5px;
    padding: 6px;
    background-color: #383278;
    font-weight: bold;
    margin: 4px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}



/* ---------Index page styling------------- */
html{
    background-color:rgb(229, 221, 221);
    margin: 0px;
}

main#homepage{
    padding: 0px;
    background-color: #3994c8;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 0; */
    height: 100vh;
    width: 100%;
    position: relative;
}

#game-name{
    align-self: center;
    padding: 12px;
    margin-left: 16px;
    /* For title animation functions below */
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
/* Title Image animation */
@-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-8px);
    }
}

@keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-8px);
    }
}

#picnic-div{
    width: 30%;
    display: flex;
    align-self: center;
    padding-top: 10px;
}

#picnic-img{
    width: 100%;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    max-width: 100%;
}
/* Button Id's for any customized styling */
/* Only white font right now */
#start-button{
    color: white;
}
#guide-button{
    color: white;
}
#scores-button{
    color: white;
}
#settings-button{
    color: white;
}

button{
    margin: 16px;
    padding: 15px;
    background-color: #383278;
    border-radius: 10px;
    border: 4px solid;
    border-color: #8B74BD;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}

button:hover{
    transform:scale(140%);
    cursor: pointer;
}

.footer{
    display: flex;
    flex-grow: 1;
    /* margin-bottom: auto;
    margin-top: auto; */
    background: url('./images/plaid.jpg');
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    height: 70px;
    padding-top: 30px;
}

/* IN-game pause button override and styling */
.pause_button > button {
    position:absolute;
    top:50px;
    right:20px;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

.play-pause-img{
    height: 20px;
}

/*--------------Modal styling----------*/

.hidden{
    display: none;
}

#modal-backdrop{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border: 4px solid;
    border-color: #8B74BD;
    border-radius: 5px;
    padding: 6px;
    background-color: #3994c8;
}

.modal-skeleton{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.modal-contents{

  border-color: #8B74BD;
  border-radius: 5px;
  padding: 6px;
  background-color: #383278;
  font-weight: bold;

    width: 500px;
    height: 550px;
    background-color: #383278;;
    border: 4px solid;
    border-color: #8B74BD;
    border-radius: 10%;
    padding: 6px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-header h3{
    margin: 0px;
}

.modal-header{
    border: none;
    background-color: #8B74BD;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    padding: 10px;
    padding-left: 30%;
    font-size: 30px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);

}

.modal-body{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.close-modal-button{
    width: 20%;
    background-color: #8B74BD;
    align-self: flex-end;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.close-modal-button:hover{
    transform: scale(110%);
}

#game_paused_screen {
    position: fixed;
    top:50%;
    left:35%;
    font-weight: bold;
    font-size:60px;
    border: 2px solid;
    border-color: #8B74BD;
    border-radius: 20px;
    background-color: #383278;
    padding: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

/*--------------Leaderboard Table Styling----------*/



table{
    border-collapse: collapse;
    border: 3px solid black;
    background-color: #b6eca2;
    width: 100%;
}

.table-header{
    border: 3px solid black;
}

.table-header > th{
    border: 3px solid black;
    font-size: 20px;
}

.score-entry{
    background-color: #e7e7e7;
    border: 1px solid black;
    font-size: 18px;
}

.score-entry > td{
    padding: 6px;
    text-align: center;
    border: 1px solid black;
}
